section.case-hero
  .container
    .case-hero__wp
      .case-hero__left
        h1 Контекстная </br>реклама для </br>Work.ua
        p Work.ua — сайт поиска работы № 1 в Украине. Здесь ведущие украинские компании размещают свои вакансии и находят сотрудников. Аудитория проекта — более 400 000 уникальных посетителей в день. На сайте размещено 2.3 млн. резюме, 77 тыс. вакансий от 180 тыс. работодателей.
      .case-hero__right
        .block.block-1
        .block.block-2
          div
        .block.block-3
          img(src="img/workua.png", alt="")
        .block.block-4
          div
        .block.block-5
          img(src="img/selformat-section/element.png", alt="")
