-
  programInfo = [
    {
      title: 'Что такое "Интернет-маркетинг"? Как работает интернет-маркетинг',
      hiddenTitle: 'Создадим простой сайт на конструкторе и разместим его в сети интернет.',
      hiddenList: [
        "Пока что здесь пусто",
        "Пока что здесь пусто",
        "Пока что здесь пусто"
        ],
    },
    {
      title: 'Проектирование сайтов. Создание информационного сайта',
      hiddenTitle: 'Создадим простой сайт на конструкторе и разместим его в сети интернет.',
      hiddenList: [
        "Настройка CMS Open Cart интернет магазина",
        "Добавление категорий",
        "Добавление товаров",
        "Добавление производителей",
        "Домашнее задание"
        ]
    },
    {
      title: 'Проектирование сайтов. Создание интернет магазина',
      hiddenTitle: 'Создадим простой сайт на конструкторе и разместим его в сети интернет.',
      hiddenList: [
        "?",
        "?",
        "?",
        "?",
        "?"
        ]
    },
    {
      title: 'SEO. Семантическое ядро сайта',
      hiddenTitle: 'Создадим простой сайт на конструкторе и разместим его в сети интернет.',
      hiddenList: [
        "?",
        "?",
        "?",
        "?",
        "?"
        ],
      style: "infolist_hidden",
    },
    {
      title: 'SEO. Внутренняя оптимизация сайта',
      hiddenTitle: 'Создадим простой сайт на конструкторе и разместим его в сети интернет.',
      hiddenList: [
        "Много текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текста",
        "?",
        "?",
        "?",
        "?"
        ],
      style: "infolist_hidden",
    },
    {
      title: 'SEO. Отправка сайта на индексацию в Google и Яндекс',
      hiddenTitle: 'Создадим простой сайт на конструкторе и разместим его в сети интернет.',
      hiddenList: [
        "Много",
        "?",
        "?",
        "?",
        "?"
        ],
      style: "infolist_hidden",
    },
    {
      title: 'Контекстная реклама. Знакомство с Google Ads (поиск)',
      hiddenTitle: 'Создадим простой сайт на конструкторе и разместим его в сети интернет.',
      hiddenList: [
        "Много",
        "?",
        "?",
        "?",
        "?"
        ],
      style: "infolist_hidden",
    },
  ]

section.programcourse
  .container
    h2.programcourse__title Программа курса
    p.programcourse__subtitle На курсе вы получаете теорию плюс домашние задания: отработка новых навыков на практике, а также раздатка со списком полезных книг, подкастов, YouTube и Telegram каналов
    .programcourse__list
      .bookmark-lessons
        p 14 занятий
      .bookmark-weeks
        p 5 недель
      each item in programInfo
        +infolist(item.title, item.hiddenTitle, item.hiddenList)
