section.about-team
  .container
    .about-team__wp
      h2 Наша команда
      .about-team__head
        p Мы собрали 22 лучших практиков: руководителей, senior-специалистов и экспертов с многолетним опытом
        button.case-factors__swiper-next.about-team__swiper-next
          svg(width="16" height="16")
            use(xlink:href="img/sprite.svg#arrow-right")
      .swiper.about-team__swiper
        .swiper-wrapper
          .swiper-slide.about-team__slide
            .about-team__slide-img.sl1
              img(src="img/about-team/photo1.png", alt="")
            p Акылбек Рамазанов
          .swiper-slide.about-team__slide
            .about-team__slide-img.sl2
              img(src="img/about-team/photo2.png", alt="")
            p Дарья Омельяненко
          .swiper-slide.about-team__slide
            .about-team__slide-img.sl3
              img(src="img/about-team/photo3.png", alt="")
            p Марк Теплов
          .swiper-slide.about-team__slide
            .about-team__slide-img.sl4
              img(src="img/about-team/photo4.png", alt="")
            p Игорь Розумнюк
          .swiper-slide.about-team__slide
            .about-team__slide-img.sl2
              img(src="img/about-team/photo2.png", alt="")
            p Дарья Омельяненко
          .swiper-slide.about-team__slide
            .about-team__slide-img.sl3
              img(src="img/about-team/photo3.png", alt="")
            p Марк Теплов
          .swiper-slide.about-team__slide
            .about-team__slide-img.sl4
              img(src="img/about-team/photo4.png", alt="")
            p Игорь Розумнюк
