section.about-hero
  .container
    .about-hero__wp
      .about-hero__left
        h1 Увеличиваем прибыльность компаний с&nbsp;помощью онлайн техник
        p Цель агентства: помочь нашим клиентам добиться поставленных результатов, постоянное развитие, использование и внедрение инновационных инструментов в своей работе.
        p К каждому проекту наша команда применяет индивидуальный и креативный подход. Предварительно изучается продукт или услуга, целевая аудитория заказчика.
      .about-hero__right
        .block.block-1
          p >500
          span проектов
        .block.block-2
          img(src="img/about-hero/img1.png", alt="")
        .block.block-3
          img(src="img/about-hero/img2.png", alt="")
        .block.block-4
          p 10
          span лет на рынке
        .block.block-5
          p >15
          span сотрудников
        .block.block-6
          div
