.about-hero {
  background: #F4F8FB;
  padding-top: 173px;
  padding-bottom: 80px;
  @media (max-width: $tablet) {
    padding: 120px 0px 60px;
  }
  @media (max-width: $mobile-big) {
    padding: 34px 0px 40px;
  }
  &__wp {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      row-gap: 60px;
    }
  }

  &__left {
    max-width: 660px;
    width: 60%;
    @media (max-width: 1024px) {
      flex: 1 1 100%;
      width: 100%;
      max-width: 100%;
    }
    h1 {
      margin-bottom: 65px;
      @media (max-width: $mobile-big) {
        margin-bottom: 38px;
        font-size: 30px;
        line-height: 100%;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 29px;
      }
      @media (max-width: $mobile-big) {
        font-size: 16px;
        line-height: 156%;
        padding-right: 14px;
        &:not(:last-child) {
          margin-bottom: 26px;
        }
      }
    }
  }

  &__right {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 46px;
    @media (max-width: 1024px) {
      margin: 0 auto;
      padding-top: 0px;
    }
    @media (max-width: $mobile-sm) {
      margin: 0px -20px;
    }
    &.visible {
      .block {
        opacity: 1;
        visibility: visible;
        transform: initial;
      }
    }
    .block {
      width: 180px;
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      color: #fff;
      transition: 0.8s;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.7);
      @media (max-width: $mobile-sm) {
        width: 160px;
        height: 160px;
        &:last-child {
          display: none;
        }
      }
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        padding: 19px 0px 0px 11px;
      }

      span {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        margin-top: 4px;
        display: block;
        text-align: center;
        max-width: 120px;
        padding: 0px 0px 0px 11px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-1 {
        border-radius: 100px 0 0 0;
        background: $blue;
        padding-top: 11px;
        transition-delay: 0.1s;
      }
      &-2 {
        border-radius: 0 100px 0 0;
        transition-delay: 0.2s;
      }
      &-3 {
        border-radius: 0 0 100px 0;
        transition-delay: 0.1s;
      }
      &-4 {
        border-radius: 0 0 0 100px;
        background: #FEC001;
        padding-left: 12px;
        padding-bottom: 26px;
        color: $blue;
        transition-delay: 0.3s;
      }
      &-5 {
        border-radius: 0 100px 0 0;
        background: #7424EC;
        padding-top: 9px;
        padding-right: 17px;
        transition-delay: 0.2s;
      }
      &-6 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        transition-delay: 0.4s;

        div {
          border: 40px solid #FFFFFF;
          width: 105px;
          height: 105px;
          border-radius: 50%;
        }
      }



    }
  }
}
