section.about-review
  .container
    .about-review__wp
      .about-review__head
        h2 Отзывы o 4web
        button.case-factors__swiper-next.about-review__swiper-next
          svg(width="16" height="16")
            use(xlink:href="img/sprite.svg#arrow-right")
      .swiper.about-review__swiper
        .swiper-wrapper
          +review-el
