section.article
  .article__element
    <svg width="130" height="169" viewBox="0 0 130 169" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M130 139C130 83.7715 85.2285 39 30 39H0V169H130V139Z" fill="white"/>
    <circle cx="105" cy="25" r="20" stroke="white" stroke-width="10"/>
    </svg>
  .container
    .article__wp
      .article__infotext
        .article__characteristic
          span.article__topic Маркетинг
          span.article__date 22 января 2022
        h2.article__title Скрытые функции<br>IOS
        .article__text
          p.article__text-el Цель агентства: помочь нашим клиентам добиться поставленных результатов, постоянное <a href="#" class="article__link">развитие</a>, использование и внедрение инновационных инструментов в своей работе.
          p.article__text-el К каждому проекту наша команда применяет индивидуальный и креативный подход. Предварительно изучается продукт или услуга, целевая аудитория заказчика.
      .article__right
        <svg class="article__svg" width="547" height="547" viewBox="0 0 547 547" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="402" cy="144" r="44" stroke="white" stroke-width="40"/>
            <g filter="url(#filter0_b_601_329)">
            <path d="M547 341C547 396.228 502.228 441 447 441H327V220H547V341Z" fill="#FEC001"/>
            </g>
            <path d="M327 100C327 44.7715 282.228 0 227 0H106V220H327V100Z" fill="#517FFF"/>
            <path d="M0 447C0 502.228 44.7715 547 100 547H327V220H0V447Z" fill="white"/>
            <defs>
            <filter id="filter0_b_601_329" x="312" y="205" width="250" height="251" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImage" stdDeviation="7.5"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_601_329"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_601_329" result="shape"/>
            </filter>
            </defs>
            </svg>
        .article__forimg
          img(src="img/article/phone1.png", alt="")

          

        

