+modal().teacher-modal
  .teacher-modal__wp
    .teachers-section__block
      .teachers-section__block-back
      .teachers-section__swiper.teachers-section__swiper-modal.swiper
        .swiper-wrapper
          +teacherSlideModal("img/teachers-section/teacher1.jpg", "Акылбек Рамазанов")
            p Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
            p Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения.
          +teacherSlideModal("img/teachers-section/teacher2.jpg", "Акылбек Рамазанов 2")
            p Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
            p Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения.
          +teacherSlideModal("img/teachers-section/teacher3.jpg", "Акылбек Рамазанов 3")
            p Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
            p Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения.
      .teachers-section__nav
        button(type="button").teachers-section__swiper-prev_modal
          svg(width="16" height="16")
            use(xlink:href="img/sprite.svg#arrow-left")
        button(type="button").teachers-section__swiper-next_modal
          svg(width="16" height="16")
            use(xlink:href="img/sprite.svg#arrow-right")


