section.service-detail
  .container
    .service-detail__wp
      .service-detail__img
        img(src="img/service-detail/img.png", alt="")
      .service-detail__text
        h2 В продвижение сайта входит:
        .service-detail__list
          +infolistSecond("SEO продвижение", "от 40 500 тг/мес")
            .service-detail__under
              p Гарантированное повышение видимости сайта в поисковых системах Яндекс и Google, которое обеспечивает постоянный поток целевых клиентов для бизнеса. Наш опыт, проверенный годами более чем на 3000 клиентов, показал, что комплексное продвижение сайта - необходимое условие успеха seo-стратегии независимо от масштабов компании. Поэтому профессиональная команда SEO.RU проводит эффективную оптимизацию сайтов на основе собственной методики поискового маркетинга.
              a(href="#").btn Перейти к услуге
          +infolistSecond("Контекстная реклама", "от 19 000 тг/мес")
            .service-detail__under
              p Гарантированное повышение видимости сайта в поисковых системах Яндекс и Google, которое обеспечивает постоянный поток целевых клиентов для бизнеса. Наш опыт, проверенный годами более чем на 3000 клиентов, показал, что комплексное продвижение сайта.
              a(href="#").btn Перейти к услуге
          +infolistSecond("SEO копирайтинг", "от 40 500 тг/мес")
            .service-detail__under
              p Гарантированное повышение видимости сайта в поисковых системах Яндекс и Google, которое обеспечивает постоянный поток целевых клиентов для бизнеса.
              a(href="#").btn Перейти к услуге
          +infolistSecond("SEO аудит", "от 19 000 тг/мес")
            .service-detail__under
              p Гарантированное повышение видимости сайта в поисковых системах Яндекс и Google, которое обеспечивает постоянный поток целевых клиентов для бизнеса. Наш опыт, проверенный годами более чем на 3000 клиентов, показал, что комплексное продвижение сайта - необходимое условие успеха.
              a(href="#").btn Перейти к услуге
          +infolistSecond("Управление репутацией", "от 40 500 тг/мес")
            .service-detail__under
              p Наш опыт, проверенный годами более чем на 3000 клиентов, показал, что комплексное продвижение сайта - необходимое условие успеха seo-стратегии независимо от масштабов компании. Поэтому профессиональная команда SEO.RU проводит эффективную оптимизацию сайтов на основе собственной методики поискового маркетинга.
              a(href="#").btn Перейти к услуге
