.service-detail {
  padding-top: 76px;
  padding-bottom: 136px;
  background: #F4F8FB;
  border-radius: 0 0 100px 100px;
  &__wp {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    max-width: 580px;
    padding-top: 18px;
  }

  &__img {
    max-width: 360px;
    img {
      width: 100%;
    }
  }

  &__list {
    margin-top: 60px;

    .infolist:last-child {
      border-bottom: none;
    }
  }

  &__under {
    padding-bottom: 11px;
    p {
      font-size: 14px;
      line-height: 25px;
    }

    .btn {
      margin-top: 32px;
      width: 194px;
    }
  }

  @media (max-width: 1440px) {
    padding-top: 65px;
    padding-bottom: 110px;
  }

  @media (max-width: $desktop) {
    &__img {
      max-width: 340px;
      margin-right: 20px;
      flex-shrink: 0;
    }

    &__text {
      padding-top: 0;
    }
  }

  @media (max-width: $tablet) {
    border-radius: 0;
    padding-bottom: 60px;
    &__img {
      display: none;
    }

    &__text {
      max-width: initial;
    }
  }

  @media (max-width: $mobile) {
    padding-top: 29px;
    padding-bottom: 0;

    h2 {
      font-size: 25px;
      line-height: 30px;
    }

    &__under {
      .btn {
        margin-top: 26px;
      }
    }

    .infolist {
      padding-bottom: 32px;
      margin-bottom: 33px;
      &__firstpart {
        display: block;
        position: relative;
        padding-right: 25px;
      }

      &__btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &-btn_open {
        transform: rotate(-180deg) translateY(-50%);
      }

      &__title {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 14px;
      }

      &__hiddenpart {
        padding-left: 0;
        padding-right: 0;
        padding-top: 16px;
        font-size: 16px;
        p {
          font-size: inherit;
        }
      }
    }

    &__list {
      margin-top: 34px;
    }
  }
}
