section.article-about
  .container
    .article-about__wp
      .article-about__img
        img(src="img/article/about.png", alt="Наше фото")
      .article-about__txt
        h2.article-about__title Мы —  агентство с полным спектром услуг  в сфере интернет
        p.article-about__subtitle Наше агентство поможет Вам укрепить свой бизнес, а также заинтересовать потенциальных клиентов
        p.article-about__text Цель агентства: помочь нашим клиентам добиться поставленных результатов, постоянное развитие, использование и внедрение инновационных инструментов в своей работе.
        p.article-about__text К каждому проекту наша команда применяет индивидуальный и креативный подход. Предварительно изучается продукт или услуга, целевая аудитория заказчика.
