+modal().review-modal
  .review-modal__wp
    +workstudent-slide(1,
      "Социальные сети для<br>Ивана Дорна",
      "Автор работы ученица<br> Марал",
      "img/works-students/slides/student1.png",
      [
        "Настройка систем аналитики",
        "Анализ сайта, ниши и ресурсов конкурентов",
        "Техническая оптимизация сайта <span class='show-hidden-ulAdaptation'>показать все</span>",
        "Формирование стратегии продвижения",
        "Оптимизация структуры и каталога детальная проработка страниц <span class='show-hidden-ul'>показать все</span></span>"
      ],
      [
        "Скрытый пункт",
        "Второй скрытый",
      ],
      "Моя жизнь изменилась в целом, так как я начала заниматься тем, что мне всегда нравилось",
      "img/works-students/slides/work1.png",
      true
    )
