section.selformat-section
  .container
    .selformat-section__wp
      .selformat-section__element
        img(src="img/selformat-section/element.png", alt="")
      .selformat-section__left
        h3 Выбирайте </br>удобный формат </br>обучения
        button(type="button").btn.btn--secondary Подобрать курс
      .selformat-section__right
        .selformat-section__row
          .selformat-section__row-top
            span
              <svg width="30" height="43" viewBox="0 0 30 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.28571 6.53053H10.5714V36.5305H6.28571C5.14907 36.5305 4.05898 36.079 3.25526 35.2753C2.45153 34.4715 2 33.3815 2 32.2448V10.8162C2 9.67961 2.45153 8.58952 3.25526 7.78579C4.05898 6.98206 5.14907 6.53053 6.28571 6.53053V6.53053ZM16.3614 2.27268L24.9329 5.48696C25.7499 5.79325 26.4541 6.34165 26.9511 7.05887C27.4481 7.77608 27.7144 8.62793 27.7143 9.50053V33.5605C27.7144 34.4331 27.4481 35.285 26.9511 36.0022C26.4541 36.7194 25.7499 37.2678 24.9329 37.5741L16.3614 40.7884C15.713 41.0315 15.0153 41.1138 14.3281 41.0283C13.6409 40.9428 12.9847 40.6921 12.4156 40.2976C11.8464 39.9031 11.3814 39.3765 11.0602 38.763C10.7391 38.1495 10.5713 37.4673 10.5714 36.7748V6.28625C10.5713 5.59376 10.7391 4.91156 11.0602 4.29805C11.3814 3.68455 11.8464 3.158 12.4156 2.76349C12.9847 2.36898 13.6409 2.11825 14.3281 2.03278C15.0153 1.9473 15.713 2.02961 16.3614 2.27268V2.27268Z" stroke="#FEC001" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.5 21.5306C16.5 22.4379 15.7645 23.1734 14.8572 23.1734C13.9498 23.1734 13.2143 22.4379 13.2143 21.5306C13.2143 20.6232 13.9498 19.8877 14.8572 19.8877C15.7645 19.8877 16.5 20.6232 16.5 21.5306Z" fill="#FEC001" stroke="#FEC001"/>
              </svg>
            h4 Офлайн
          p Занятия проходят в классах школы в г.Алматы. Живое общение с преподавателем и одногрупниками.
        .selformat-section__row
          .selformat-section__row-top
            span
              <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.75 2.75H33C33.7293 2.75 34.4288 3.03973 34.9445 3.55546C35.4603 4.07118 35.75 4.77065 35.75 5.5V22C35.75 22.7293 35.4603 23.4288 34.9445 23.9445C34.4288 24.4603 33.7293 24.75 33 24.75H19.25V27.5H24.75V30.25H19.25V33H28.875C29.2397 33 29.5894 32.8551 29.8473 32.5973C30.1051 32.3394 30.25 31.9897 30.25 31.625C30.25 31.2603 30.1051 30.9106 29.8473 30.6527C29.5894 30.3949 29.2397 30.25 28.875 30.25H27.5V27.5H33C34.4587 27.5 35.8576 26.9205 36.8891 25.8891C37.9205 24.8576 38.5 23.4587 38.5 22V5.5C38.5 4.04131 37.9205 2.64236 36.8891 1.61091C35.8576 0.579463 34.4587 0 33 0H13.75C12.2913 0 10.8924 0.579463 9.86091 1.61091C8.82946 2.64236 8.25 4.04131 8.25 5.5V11H11V5.5C11 4.77065 11.2897 4.07118 11.8055 3.55546C12.3212 3.03973 13.0207 2.75 13.75 2.75ZM6.875 30.25C6.51033 30.25 6.16059 30.3949 5.90273 30.6527C5.64487 30.9106 5.5 31.2603 5.5 31.625C5.5 31.9897 5.64487 32.3394 5.90273 32.5973C6.16059 32.8551 6.51033 33 6.875 33H9.625C9.98967 33 10.3394 32.8551 10.5973 32.5973C10.8551 32.3394 11 31.9897 11 31.625C11 31.2603 10.8551 30.9106 10.5973 30.6527C10.3394 30.3949 9.98967 30.25 9.625 30.25H6.875ZM4.125 13.75C3.03098 13.75 1.98177 14.1846 1.20818 14.9582C0.434597 15.7318 0 16.781 0 17.875V34.375C0 35.469 0.434597 36.5182 1.20818 37.2918C1.98177 38.0654 3.03098 38.5 4.125 38.5H12.375C13.469 38.5 14.5182 38.0654 15.2918 37.2918C16.0654 36.5182 16.5 35.469 16.5 34.375V17.875C16.5 16.781 16.0654 15.7318 15.2918 14.9582C14.5182 14.1846 13.469 13.75 12.375 13.75H4.125ZM4.125 16.5H12.375C12.7397 16.5 13.0894 16.6449 13.3473 16.9027C13.6051 17.1606 13.75 17.5103 13.75 17.875V34.375C13.75 34.7397 13.6051 35.0894 13.3473 35.3473C13.0894 35.6051 12.7397 35.75 12.375 35.75H4.125C3.76033 35.75 3.41059 35.6051 3.15273 35.3473C2.89487 35.0894 2.75 34.7397 2.75 34.375V17.875C2.75 17.5103 2.89487 17.1606 3.15273 16.9027C3.41059 16.6449 3.76033 16.5 4.125 16.5Z" fill="#FEC001"/>
              </svg>
            h4 Онлайн
          p Занимайтесь в любое удобное время. В рабочем чате обсуждайте с куратором вопросы, связанные с курсом. Общайтесь с одногрупниками в телеграме
