mixin aboutWhySection(cls, dopBack)
  section.about-why(class=cls)
    if (dopBack)
      .about-why__back
    .container
      .about-why__wp
        .about-why__left
          h3 Почему мы?
          p Мы увеличиваем продажи наших клиентов с 2013 года. Эта задача является главным приоритетом нашей работы
          a(href="#").btn.btn--secondary.about-why__btn--dekstop Подробнее о нас
        .about-why__right
          .about-why__row
            span
              <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.16634 3.375C4.94517 3.375 2.33301 5.868 2.33301 8.94375C2.33301 11.4266 3.35384 17.3194 13.4023 23.2763C13.5823 23.3819 13.789 23.4377 13.9997 23.4377C14.2104 23.4377 14.417 23.3819 14.597 23.2763C24.6455 17.3194 25.6663 11.4266 25.6663 8.94375C25.6663 5.868 23.0542 3.375 19.833 3.375C16.6118 3.375 13.9997 6.75 13.9997 6.75C13.9997 6.75 11.3875 3.375 8.16634 3.375Z" stroke="#FEC001" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            h4 Индивидуальный подход к каждому клиенту
          .about-why__row
            span
              <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.0838 9.09012H19.5963V7.92471C19.5963 6.99745 19.2289 6.10816 18.5748 5.45249C17.9208 4.79682 17.0337 4.42847 16.1088 4.42847H13.7838C12.8588 4.42847 11.9718 4.79682 11.3178 5.45249C10.6637 6.10816 10.2963 6.99745 10.2963 7.92471V9.09012H6.80879C5.88385 9.09012 4.99679 9.45847 4.34275 10.1141C3.68872 10.7698 3.32129 11.6591 3.32129 12.5864V23.0751C3.32129 24.0023 3.68872 24.8916 4.34275 25.5473C4.99679 26.203 5.88385 26.5713 6.80879 26.5713H23.0838C24.0087 26.5713 24.8958 26.203 25.5498 25.5473C26.2039 24.8916 26.5713 24.0023 26.5713 23.0751V12.5864C26.5713 11.6591 26.2039 10.7698 25.5498 10.1141C24.8958 9.45847 24.0087 9.09012 23.0838 9.09012ZM12.6213 7.92471C12.6213 7.61562 12.7438 7.31919 12.9618 7.10064C13.1798 6.88208 13.4755 6.75929 13.7838 6.75929H16.1088C16.4171 6.75929 16.7128 6.88208 16.9308 7.10064C17.1488 7.31919 17.2713 7.61562 17.2713 7.92471V9.09012H12.6213V7.92471ZM24.2463 23.0751C24.2463 23.3842 24.1238 23.6806 23.9058 23.8992C23.6878 24.1177 23.3921 24.2405 23.0838 24.2405H6.80879C6.50047 24.2405 6.20479 24.1177 5.98678 23.8992C5.76877 23.6806 5.64629 23.3842 5.64629 23.0751V16.6653C8.60632 17.8425 11.7618 18.4475 14.9463 18.4484C18.1306 18.4464 21.2859 17.8415 24.2463 16.6653V23.0751ZM24.2463 14.1131C21.3149 15.4041 18.1481 16.0707 14.9463 16.0707C11.7445 16.0707 8.57765 15.4041 5.64629 14.1131V12.5864C5.64629 12.2773 5.76877 11.9808 5.98678 11.7623C6.20479 11.5437 6.50047 11.4209 6.80879 11.4209H23.0838C23.3921 11.4209 23.6878 11.5437 23.9058 11.7623C24.1238 11.9808 24.2463 12.2773 24.2463 12.5864V14.1131Z" fill="#FEC001"/>
              </svg>
            h4 Широкий ассортимент </br>услуг
          .about-why__row
            span
              <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5003 2.41675C7.83758 2.41675 2.41699 7.83733 2.41699 14.5001C2.41699 21.1628 7.83758 26.5834 14.5003 26.5834C21.1631 26.5834 26.5837 21.1628 26.5837 14.5001C26.5837 7.83733 21.1631 2.41675 14.5003 2.41675ZM14.5003 24.1667C9.17037 24.1667 4.83366 19.83 4.83366 14.5001C4.83366 9.17012 9.17037 4.83341 14.5003 4.83341C19.8303 4.83341 24.167 9.17012 24.167 14.5001C24.167 19.83 19.8303 24.1667 14.5003 24.1667Z" fill="#FEC001"/>
                <path d="M15.7087 8.45825H13.292V15.7083H20.542V13.2916H15.7087V8.45825Z" fill="#FEC001"/>
              </svg>
            h4 Оперативность, сервис и качество обслуживания
          .about-why__row
            span
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.6875 14.875C11.6875 14.5932 11.7994 14.323 11.9987 14.1237C12.198 13.9244 12.4682 13.8125 12.75 13.8125H23.375C23.6568 13.8125 23.927 13.9244 24.1263 14.1237C24.3256 14.323 24.4375 14.5932 24.4375 14.875C24.4375 15.1568 24.3256 15.427 24.1263 15.6263C23.927 15.8256 23.6568 15.9375 23.375 15.9375H12.75C12.4682 15.9375 12.198 15.8256 11.9987 15.6263C11.7994 15.427 11.6875 15.1568 11.6875 14.875ZM12.75 20.1875H23.375C23.6568 20.1875 23.927 20.0756 24.1263 19.8763C24.3256 19.677 24.4375 19.4068 24.4375 19.125C24.4375 18.8432 24.3256 18.573 24.1263 18.3737C23.927 18.1744 23.6568 18.0625 23.375 18.0625H12.75C12.4682 18.0625 12.198 18.1744 11.9987 18.3737C11.7994 18.573 11.6875 18.8432 11.6875 19.125C11.6875 19.4068 11.7994 19.677 11.9987 19.8763C12.198 20.0756 12.4682 20.1875 12.75 20.1875ZM30.8125 8.5V24.4375C30.809 25.2818 30.4721 26.0905 29.875 26.6875C29.278 27.2846 28.4693 27.6215 27.625 27.625H4.25C3.40692 27.625 2.59817 27.291 2.00078 26.6961C1.40339 26.1012 1.06601 25.2939 1.0625 24.4508V11.6875C1.0625 11.4057 1.17444 11.1355 1.3737 10.9362C1.57296 10.7369 1.84321 10.625 2.125 10.625C2.40679 10.625 2.67704 10.7369 2.8763 10.9362C3.07556 11.1355 3.1875 11.4057 3.1875 11.6875V24.4375C3.1875 24.7193 3.29944 24.9895 3.4987 25.1888C3.69796 25.3881 3.96821 25.5 4.25 25.5C4.53179 25.5 4.80204 25.3881 5.0013 25.1888C5.20056 24.9895 5.3125 24.7193 5.3125 24.4375V8.5C5.3125 7.93641 5.53638 7.39591 5.9349 6.9974C6.33341 6.59888 6.87391 6.375 7.4375 6.375H28.6875C29.2511 6.375 29.7916 6.59888 30.1901 6.9974C30.5886 7.39591 30.8125 7.93641 30.8125 8.5ZM28.6875 8.5H7.4375V24.4375C7.43739 24.7998 7.37447 25.1592 7.25156 25.5H27.625C27.9068 25.5 28.177 25.3881 28.3763 25.1888C28.5756 24.9895 28.6875 24.7193 28.6875 24.4375V8.5Z" fill="#FEC001"/>
              </svg>
            h4 Предоставление всех документов
        a(href="#").btn.btn--secondary.about-why__btn--mb Подробнее о нас

