section.home-education
  .container
    .home-education__wp
      .home-education__text
        h3 Обучитесь продвижению сайтов всего за 2 месяца с гарантией трудоустройства
        a(href="#").btn.btn--secondary Посмотреть детали курса
      .home-education__img
        img(src="img/home-education/img.png", alt="")
