section.course-main
  .course-main__back
    img(src="img/course-hero/course-hero-back.png")
  .container
    .course-main__block
      .course-main__wp
        .course-main__tablet
          .course-main__type Онлайн и офлайн
          h1.course-main__title Курс интернет маркетолог
        .course-main__left
          .course-main__type Онлайн и офлайн
          .course-main__title
            h1 Курс интернет маркетолог
            p digital
          p Освойте полный комплекс услуг по интернет-продвижению и станьте профессиональным маркетологом, стратегом, аналитиком, контекстологом и таргетологом в одном лице.
          button(type="button" data-modal="order-modal").btn Записаться на курс
        .course-main__right
          .course.course-el1
            img(src="img/course-hero/icon.svg", alt="")
          .course.course-el2
          .course.course-el3
            p Онлайн курс проходит
            h4 12 мар - 28 апр
          .course.course-el4
            p Оффлайн курс проходит
            h4 24 апр - 5 мая
          .course.course-el5
      .swiper.course-main__swiper
        .swiper-wrapper
          .swiper-slide.course-main__card
            p Гарантируем
            h4 стажировку и&nbsp;трудоустройство
          .swiper-slide.course-main__card
            p Формат обучения
            h4 оффлайн или онлайн
          .swiper-slide.course-main__card
            p Уровень
            h4 для начинающих с&nbsp;нуля
          .swiper-slide.course-main__card
            p По кончанию курса
            h4 сертификат, 2&nbsp;готовых проекта
