.course-main {
  padding-top: 114px;
  background: #F4F8FB;
  position: relative;
  padding-bottom: 60px;
  @media (max-width: $mobile-sm) {
    padding-top: 0;
    margin-top: -8px;
    padding-bottom: 30px;
  }
  &__back {
    position: absolute;
    left: 0;
    top: 407px;
    width: 1830px;
    transition: 0.8s;
    img {
      width: 100%;
    }
    @media (max-width: 1366px) {
      display: none;
    }
  }

  &__wp {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }
  }
  &__tablet {
    @media (min-width: 991.98px) {
      display: none;
    }
  }
  &__left {
    flex: 0 1 49%;
    @media (max-width: $tablet) {

      & .course-main__type {
        display: none;
      }
      & .course-main__title {
        & h1, p {
          display: none;
        }
      }
    }
    @media (max-width: 824px) {
      order: 2;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      text-align: center;
      align-items: center;
    }
    @media (max-width: $mobile-sm) {
      text-align: start;
      padding-right: 12px;
      align-items: baseline;
    }
  }

  &__right {
    max-width: 390px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    padding-top: 115px;
    color: #fff;
    height: 100%;
    @media (max-width: 824px) {
      margin: 0 auto;
    }
    @media (max-width: $mobile-sm) {
      flex-direction: column;
      padding-top: 0;
      margin: 0;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
    }

    .course {
      transition: 0.8s;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.8);
      &-el1 {
        display: flex;
        align-items: center;
        background: #DCE6FC;
        border-radius: 0px 100px 0px 0px;
        width: 130px;
        height: 130px;
        padding-top: 23px;
        padding-left: 8px;
        transition-delay: 0.2s;
      }

      &-el2 {
        position: absolute;
        top: 10px;
        left: 130px;
        border: 40px solid #FFFFFF;
        width: 105px;
        height: 105px;
        border-radius: 50%;
        transition-delay: 0.1s;
        @media (max-width: $mobile-sm) {
          top: 0px;
        left: 170px;
        }
      }

      &-el3 {
        background: #517FFF;
        width: 260px;
        height: 130px;
        display: flex;
        padding-left: 37px;
        justify-content: center;
        flex-direction: column;
        border-radius: 0px 100px 0px 100px;
        padding-bottom: 8px;
        transition-delay: 0.4s;
        @media (max-width: $mobile-sm) {
          padding-left: 42px;
        }
      }

      &-el4 {
        background: #6647F4;
        width: 260px;
        height: 130px;
        display: flex;
        padding-left: 37px;
        justify-content: center;
        flex-direction: column;
        border-radius: 0px 0px 100px 100px;
        padding-bottom: 16px;
        transition-delay: 0.3s;
        @media (max-width: $mobile-sm) {
          border-radius: 100px 0px 100px 0px;
          padding-left: 42px;
          & p {
            padding-top: 30px;
          }
        }
      }

      &-el5 {
        background: #FEC001;
        border-radius: 100px 0px 0px 0px;
        width: 130px;
        height: 130px;
        @media (max-width: $mobile-sm) {
          display: none;
        }
      }
    }

    &.visible {
      .course {
        opacity: 1;
        visibility: visible;
        transform: initial;
      }
    }
  }

  &__type {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #517FFF;

  }

  &__title {
    display: flex;
    margin-top: 18px;
    margin-bottom: 43px;
    @media (max-width: $mobile-sm) {
      margin-top: 0px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      line-height: 63px;
      margin-left: 10px;
      white-space: nowrap;
      @media (min-width: 1300px) {
        position: relative;
        left: -5.6%;
      }

    }
  }

  .btn {
    margin-top: 43px;
    width: 209px;
    @media (max-width: $mobile-sm) {
      margin-top: 33px;
    }
  }

  &__swiper {
    margin-top: 120px;
    box-shadow: 0px 50px 100px #DEEDF8;
    @media (max-width: $mobile-sm) {
      margin-top: 51px;
      margin-right: -20px;
    }
  }

  &__card {
    max-width: 279px;
    width: 100%;
    margin-right: 21px;
    min-height: 140px;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px #DEEDF8;
    border-radius: 10px;
    padding: 31px 34px 10px;
    @media (max-width: $mobile-sm) {
      max-width: 223px;
      margin-right: 17px;
      padding: 31px 27px 10px;
      & h4 {
        font-size: 16px;
        line-height: 156%;
      }
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 18px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
