section.case-rise
  .container
    .case-rise__wp
      .case-rise__left
        .case-rise__graph
          img(src="img/case-rise/graph.png", alt="")
        p Наша команда более 3 лет настраивает рекламные кампании для Work.ua. За это время нам удалось достичь отличных результатов и настроить прозрачные процессы работы
        button(type="button").btn.desc Хочу так же
      .case-rise__right
        .case-rise__block
          span Рост конверсии
          h2 В 2,5 раза
          p Благодаря глубокому анализу, мы улучшили показатели рекламной кампании и существенно увеличили конверсию в регистрации
        .case-rise__block
          span Посещаемость из Adwords
          h2 +250%
          p За время работы мы значительно увеличили объем аудитории из Google Adwords.
        .case-rise__block
          span Количество ключевых слов
          h2 3 млн.
          p 300 рекламных кампаний и 3 млн. ключевых слов.
      button(type="button").btn.mob Хочу так же
