section.teach-section
  .container
    .teach-section__wp
      .teach-section__left
        h2.desc Профессионально обучаем IT технологиям
        .teach-section__subtitle Мы помогаем реализовать себя в Digital, найти новые сферы развития и повысить экспертность в цифровой среде
        .teach-section__collapsed.hidden-text
          p Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. <a href="#" class="openHiddenText">&nbsp;подробнее</a><span>Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.</span>
          span
            p Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения.
      .teach-section__right.multiBlock
        .block-item.block-item-1
          p.countRise(data-num="1050", data-delay="500" data-speed="2000" data-increment="2") 1050
          span учеников
        .block-item.block-item-2
          p.countRise(data-num="7", data-delay="500" data-speed="1500") 7
          span лет школе
        .block-item.block-item-3
          img(src="img/teach-section/block-item-img.png")
        .block-item.block-item-4
          img(src="img/teach-section/logo.svg")
        .block-item.block-item-5
          p.countRise(data-num="200", data-delay="500" data-speed="2000" data-increment="2") 200
          span учеников фрилансеры
        .block-item.block-item-6
        .block-item.block-item-7
          p.countRise(data-num="700", data-delay="500" data-speed="2000" data-increment="2") 700
          span учеников трудоутроились
        .block-item.block-item-8
          div
        .block-item.block-item-9
          img(src="img/teach-section/block-item-grid.png")
      h2.mob Профессионально обучаем IT технологиям

