.youlearn-section {
  padding-top: 81px;
  position: relative;
  padding-bottom: 13px;
  @media (max-width: $mobile) {
    padding-top: 33px;
    padding-bottom: 25px;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      position: relative;
      z-index: 2;
    }
    & button {
      padding: 0;
    background: transparent;
    outline: none;
    border: none;

    }

  }
  &__next {
    display: flex;
    @media (min-width: 1295.98px) {
          display: none;
        }
  }
  &__back {
    position: absolute;
    top: 269px;
    left: 50%;
    transform: translateX(-47.6%);
    width: 1864px;
  }

  &__list {
    margin-top: 77px;
    overflow: visible;
    @media (max-width: $mobile) {
      margin-top: 25px;
    }
    .swiper-slide {
      width: auto ;
    }
    .swiper-wrapper {
      flex-wrap: wrap;
      @media (max-width: 1295px) {
        flex-wrap: nowrap;
      }
    }

    @media (min-width: 1296px) {
      .learn-card {
        transition: 0.7s;
        opacity: 0;
        transform: scale(0.8);
      }
      &.visible {
        .learn-card {
          opacity: 1;
          transform: initial;
          &:nth-child(1) {
            transition-delay: 0.2s;
          }
          &:nth-child(2) {
            transition-delay: 0.1s;
          }
          &:nth-child(3) {
            transition-delay: 0.4s;
          }
          &:nth-child(4) {
            transition-delay: 0.7s;
          }
          &:nth-child(5) {
            transition-delay: 0.6s;
          }
          &:nth-child(6) {
            transition-delay: 0.5s;
          }
        }
      }
    }


  }
}
