section.home-aboutus
  .container
    .about-hero__wp.home-aboutus__wp
      .about-hero__right.home-aboutus__right.multiBlock
        .block.block-1
          p ><b class="countRise" data-num="500", data-delay="0" data-speed="2000" data-increment="20">500</b>
          span проектов
        .block.block-2
          img(src="img/about-hero/img1.png", alt="")
        .block.block-3
          img(src="img/about-hero/img2.png", alt="")
        .block.block-4
          p.countRise(data-num="10", data-delay="0" data-speed="1500" data-increment="2") 10
          span лет на рынке
        .block.block-5
          p ><b class="countRise" data-num="15", data-delay="0" data-speed="2000" data-increment="2">15</b>
          span сотрудников
        .block.block-6
          div
      .about-hero__left.home-aboutus__left
        h2 Мы —  агентство с полным спектром услуг  в сфере интернет
        h3 Наше агентство поможет Вам укрепить свой бизнес, а также заинтересовать потенциальных клиентов
        p Цель агентства: помочь нашим клиентам добиться поставленных результатов, постоянное развитие, использование и внедрение инновационных инструментов в своей работе.
        p К каждому проекту наша команда применяет индивидуальный и креативный подход. Предварительно изучается продукт или услуга, целевая аудитория заказчика.
