section.service-hero
  .container
    .service-hero__wp
      .service-hero__text
        h1 Продвижение сайтов
        p Мы сделаем ваш сайт удобным для пользователей и привлекательным для поисковиков, проведем детальные аудиты, настроим эффективные кампании контекстной рекламы и сформируем положительную репутацию вашей компании в сети
        div
      .service-hero__form-wp
        .service-hero__element
          img(src="img/selformat-section/element.png", alt="")
        form(action="/", method="post").service-hero__form
          h3 Получите на <b>300 % больше</b> потенциальных клиентов
          .service-hero__form-inputs
            .input-block
              input(type="text" name="site" placeholder="Адрес вашего сайта").site
            .input-block
              input(type="text" name="name" placeholder="Имя").name
            .input-block
              input(type="text" name="phone" placeholder="Телефон").phone
          .service-hero__form-btn
            button(type="submit").btn.btn--secondary Получить предложение
            p Отправляя заявку, вы соглашаетесь с <a href="#">условиями</a> передачи информации.
