section.blog-section
  .container
    .blog-section__wp
      .blog-section__head
        h2 Блог<span>: все самое полезное</span>
        a(href="#").btn Все статьи
      .swiper.blog-section__swiper
        .swiper-wrapper
          .swiper-slide.blog-section__el
            .blog-section__el-type Маркетинг
            h4 Скрытые функции IOS
            p Парочку подсказок, как упростить нашу жизнь Лупа iPhone также можно использовать в качестве увеличительного стекла, реализуя возможности камеры
          .swiper-slide.blog-section__el
            .blog-section__el-type.red SMM
            h4 Лайфхаки SMM-менеджера
            p Любимые советы от webschool.kz ? Сегодня рубрика о приложениях-помощниках! Телефон SMM-щика - это золотой клад с программами.
          .swiper-slide.blog-section__el
            .blog-section__el-type.green Дизайн
            h4 Как запускать таргетированную рекламу?
            p Парочку подсказок, как упростить нашу жизнь Лупа iPhone также можно использовать в качестве увеличительного стекла, реализуя возможности камеры
