extends ../pug/layout.pug

block meta
    title Блог
    meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
  include ../blocks/article-blog/article-blog
  +aboutOrder("about-order_blog")

