extends ../pug/layout.pug

block meta
  title Кейс
  meta(name='description' content='')
  - var footerDopCls = "footer_case"
//-block append head
  link(rel='stylesheet' href='css/some.css')

//-block header

block content
  include ../blocks/case-hero/case-hero
  include ../blocks/case-rise/case-rise
  include ../blocks/case-review/case-review
  include ../blocks/case-factors/case-factors
  +caseOrder()

