extends ../pug/layout.pug

block meta
    title Главная
    meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
  include ../blocks/main-hero/main-hero
  include ../blocks/course-section/course-section
  +videoSection("")
  include ../blocks/teach-section/teach-section
  include ../blocks/selformat-section/selformat-section
  +reviewsSection("", "Отзывы учеников")
  include ../blocks/success-section/success-section
  +weteachSection("")
  include ../blocks/teachers-section/teachers-section
  include ../blocks/blog-section/blog-section
  include ../blocks/findcourse-section/findcourse-section


//-block footer

//-block prepend page-bottom
//-    include ../blocks/modal-test/modal-test
//- block append page-bottom
//-   script(src='js/some.js')
