extends ../pug/layout.pug

block meta
    title Страница услуги
    meta(name='description', content='')

//-block append head
   link(rel='stylesheet', href='css/some.css')

//-block header

block content
  include ../blocks/service-hero/service-hero
  include ../blocks/service-detail/service-detail
  include ../blocks/service-seo/service-seo
  include ../blocks/home-cases/home-cases
  include ../blocks/service-rate/service-rate
  include ../blocks/service-solution/service-solution
  include ../blocks/service-why/service-why
  +weteachSection("", "Нам доверяют", "Мы работаем с передовыми компаниями")
  +reviewsSection("reviews-section_about", "Отзывы o 4web")
  +caseOrder("case-order_service", "Оставьте заявку и получите предложение </br>по продвижению своего сайта")



//-block footer

//-block prepend page-bottom
//-    include ../blocks/modal-test/modal-test
//- block append page-bottom
//-   script(src='js/some.js')
