section.article-banner
  .container
    .article-banner__wp
      .article-banner__left
        h2 Заголовок <br class="br-adaptation">списка
        p Мы увеличиваем продажи наших клиентов с 2013 года. Эта задача является главным приоритетом нашей работы
      .article-banner__right
        ul.article-banner__list
          li.article-banner__list-el Индивидуальный подход к каждому клиенту
          li.article-banner__list-el Широкий ассортимент услуг
          li.article-banner__list-el Оперативность, сервис и качество обслуживания
          li.article-banner__list-el Предоставление всех документов



