section.service-why
  .service-why__back
  .container
    .service-why__wp
      .service-why__left
        h3 Почему мы?
        p Мы увеличиваем продажи наших клиентов с 2013 года. Эта задача является главным приоритетом нашей работы
        a(href="#").btn.desc Подробнее о нас
      .service-why__right
        .service-why__row
          span
            img(src="img/service-why/ico1.svg", alt="")
          h4 Финансовые гарантии
        .service-why__row
          span
            img(src="img/service-why/ico2.svg", alt="")
          h4 Персональный SEO-эксперт проекта
        .service-why__row
          span
            img(src="img/service-why/ico3.svg", alt="")
          h4 Рост конверсии сайта
        .service-why__row
          span
            img(src="img/service-why/ico4.svg", alt="")
          h4 Свой отдел разработки
        .service-why__row
          span
            img(src="img/service-why/ico5.svg", alt="")
          h4 Тексты для людей, а не для машин
      a(href="#").btn.mob Подробнее о нас
