section.lk-section
  .container
    .lk-section__wp
      .lk-section__left
        img(src="img/lk-section/image.png", alt="")
      .lk-section__right
        h2 Личный кабинет
        h3 Независимо от формата обучения - оффлайн или онлайн вы получаете доступ к личному кабинету со всеми записями уроков и материалами.
        p Доступ к базе курса вы получаете <b>навсегда</b>. Все презентации, видео, материалы и задания с шаблонами аккуратно сложены под каждым уроком.
