section.home-cases
  .container
    .home-cases__wp
      .home-cases__head
        h2 Кейсы
        .home-cases__tabs-head
          div
            button(type="button" data-tab="1").active SEO
            button(type="button" data-tab="2") SMM
            button(type="button" data-tab="3") Создание сайтов
            button(type="button" data-tab="4") Интернет магазины
            button(type="button" data-tab="5") Контекстная реклама
      .home-cases__tabs-body
        .home-cases__tab.home-cases__tab-1
          h3 SEO для Yalantis
          .home-cases__tab-top
            .home-cases__tab-info
              div
                p Посещаемость в месяц
                h3 70 000+
              div
                p Лидов из США в месяц
                h3 100+
            .home-cases__tab-graph
              img(src="img/case-rise/graph.png", alt="")
          .home-cases__tab-bottom
            .home-cases__tab-left
              .home-cases__tab-logo
                img(src="img/case-rise/logo.png", alt="")
              p Сфера: IT компания</br>Рынок: США
              p Мы начали работу с сайтом Yalantis, когда у него практически не было аудитории. Сейчас сайт — один из основных источников привлечения клиентов для Yalantis.
              a(href="#").btn.desc Читать кейс
            .home-cases__tab-right
              +review-el("swiper-slide", "Мы начали с 2 000 посетителей в месяц. За 3 года вместе с 4web мы достигли 70 000 посетителей в месяц", "Александра Холодова", "img/reviews-section/reviewAva1.jpg", "Yalantis", "https://www.youtube.com/watch?v=KXbTlG0xAsc")
            .home-cases__mob-bottom
              a(href="#").btn Читать кейс
              a(href="#").link Больше кейсов
        .home-cases__tab.home-cases__tab-2(style="display:none")
          h3 SММ для Чего-то там
          .home-cases__tab-top
            .home-cases__tab-info
              div
                p Посещаемость в месяц
                h3 70 000+
              div
                p Лидов из США в месяц
                h3 100+
            .home-cases__tab-graph
              img(src="img/case-rise/graph.png", alt="")
          .home-cases__tab-bottom
            .home-cases__tab-left
              .home-cases__tab-logo
                img(src="img/case-rise/logo.png", alt="")
              p Сфера: IT компания</br>Рынок: США
              p Мы начали работу с сайтом Yalantis, когда у него практически не было аудитории. Сейчас сайт — один из основных источников привлечения клиентов для Yalantis.
              a(href="#").btn Читать кейс
            .home-cases__tab-right
              +review-el("swiper-slide", "Мы начали с 2 000 посетителей в месяц. За 3 года вместе с 4web мы достигли 70 000 посетителей в месяц", "Александра Холодова", "img/reviews-section/reviewAva1.jpg", "Yalantis", "https://www.youtube.com/watch?v=KXbTlG0xAsc")
        .home-cases__tab.home-cases__tab-3(style="display:none")
          h3 Создание сайтов
          .home-cases__tab-top
            .home-cases__tab-info
              div
                p Посещаемость в месяц
                h3 70 000+
              div
                p Лидов из США в месяц
                h3 100+
            .home-cases__tab-graph
              img(src="img/case-rise/graph.png", alt="")
          .home-cases__tab-bottom
            .home-cases__tab-left
              .home-cases__tab-logo
                img(src="img/case-rise/logo.png", alt="")
              p Сфера: IT компания</br>Рынок: США
              p Мы начали работу с сайтом Yalantis, когда у него практически не было аудитории. Сейчас сайт — один из основных источников привлечения клиентов для Yalantis.
              a(href="#").btn Читать кейс
            .home-cases__tab-right
              +review-el("swiper-slide", "Мы начали с 2 000 посетителей в месяц. За 3 года вместе с 4web мы достигли 70 000 посетителей в месяц", "Александра Холодова", "img/reviews-section/reviewAva1.jpg", "Yalantis", "https://www.youtube.com/watch?v=KXbTlG0xAsc")
        .home-cases__tab.home-cases__tab-4(style="display:none")
          h3 Интернет магазины
          .home-cases__tab-top
            .home-cases__tab-info
              div
                p Посещаемость в месяц
                h3 70 000+
              div
                p Лидов из США в месяц
                h3 100+
            .home-cases__tab-graph
              img(src="img/case-rise/graph.png", alt="")
          .home-cases__tab-bottom
            .home-cases__tab-left
              .home-cases__tab-logo
                img(src="img/case-rise/logo.png", alt="")
              p Сфера: IT компания</br>Рынок: США
              p Мы начали работу с сайтом Yalantis, когда у него практически не было аудитории. Сейчас сайт — один из основных источников привлечения клиентов для Yalantis.
              a(href="#").btn Читать кейс
            .home-cases__tab-right
              +review-el("swiper-slide", "Мы начали с 2 000 посетителей в месяц. За 3 года вместе с 4web мы достигли 70 000 посетителей в месяц", "Александра Холодова", "img/reviews-section/reviewAva1.jpg", "Yalantis", "https://www.youtube.com/watch?v=KXbTlG0xAsc")
        .home-cases__tab.home-cases__tab-5(style="display:none")
          h3 Контекстная реклама
          .home-cases__tab-top
            .home-cases__tab-info
              div
                p Посещаемость в месяц
                h3 70 000+
              div
                p Лидов из США в месяц
                h3 100+
            .home-cases__tab-graph
              img(src="img/case-rise/graph.png", alt="")
          .home-cases__tab-bottom
            .home-cases__tab-left
              .home-cases__tab-logo
                img(src="img/case-rise/logo.png", alt="")
              p Сфера: IT компания</br>Рынок: США
              p Мы начали работу с сайтом Yalantis, когда у него практически не было аудитории. Сейчас сайт — один из основных источников привлечения клиентов для Yalantis.
              a(href="#").btn Читать кейс
            .home-cases__tab-right
              +review-el("swiper-slide", "Мы начали с 2 000 посетителей в месяц. За 3 года вместе с 4web мы достигли 70 000 посетителей в месяц", "Александра Холодова", "img/reviews-section/reviewAva1.jpg", "Yalantis", "https://www.youtube.com/watch?v=KXbTlG0xAsc")
