+modal().history-modal
  .history-modal__wp
    .success-section__swiper-wp
      .swiper.success-section__swiper.success-section__swiper-modal
        .swiper-wrapper
          +successSlide("23 года", "Слесарь", "Маркетолог", "img/success-section/chelovek.png", true, true)
            p Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
            p Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
          +successSlide("25 лет", "Автомеханик", "Frontend dev", "img/success-section/chelovek.png", true, true)
            p Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
            p Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
          +successSlide("27 лет", "АСУшник", "Тестировщик", "img/success-section/chelovek.png", true, true)
            p Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
            p Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. Занятия, it курсов онлайн, построены на решении задач, выполнении заданий и проектов. Преподаватели доступны для обсуждения любых ваших вопросов, но дают свободу для обучения. В рабочем чате обсуждаются вопросы, связанные с курсом.
    .success-section__nav
      button(type="button").success-section__swiper-prev_modal
        svg(width="16" height="16")
          use(xlink:href="img/sprite.svg#arrow-left")
      button(type="button").success-section__swiper-next_modal
        svg(width="16" height="16")
          use(xlink:href="img/sprite.svg#arrow-right")
