section.service-solution
  .service-solution__wrap
    .container
      .service-solution__wp
        .service-solution__head
          h2 Готовые решения
          button.service-solution__swiper-next
            svg(width="16" height="16")
              use(xlink:href="img/sprite.svg#arrow-right")
        .swiper.service-solution__swiper
          .swiper-wrapper
            .swiper-slide.solution-block
              .solution-block__img
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M24.0625 5.00313V1C24.0625 0.446875 23.6156 0 23.0625 0H1.93752C1.38439 0 0.937519 0.446875 0.937519 1V5.00313C0.415644 5.03438 1.93623e-05 5.46875 1.93623e-05 6V10.1156C-0.0019819 10.872 0.151174 11.6208 0.450019 12.3156C0.584394 12.6344 0.750019 12.9344 0.937519 13.2188V24C0.937519 24.55 1.38439 25 1.93752 25H10.5V19.5H14.5V25H23.0625C23.6156 25 24.0625 24.5531 24.0625 24V13.2188C24.253 12.9337 24.4162 12.6313 24.55 12.3156C24.8469 11.6188 25 10.8781 25 10.1156V6C25 5.46875 24.5844 5.03438 24.0625 5.00313ZM16.5 22.7531V18.5C16.5 17.9469 16.0531 17.5 15.5 17.5H9.50001C8.94689 17.5 8.50001 17.9469 8.50001 18.5V22.7531H3.18752V15.1844C3.27814 15.2281 3.37189 15.2719 3.46877 15.3094C4.16564 15.6031 4.90627 15.75 5.66877 15.75C6.43126 15.75 7.16876 15.6031 7.86876 15.3094C8.30001 15.1281 8.70626 14.8969 9.07814 14.6187C9.08439 14.6156 9.09064 14.6156 9.09689 14.6187C9.46992 14.8981 9.87614 15.13 10.3063 15.3094C11.0031 15.6031 11.7438 15.75 12.5063 15.75C13.2688 15.75 14.0063 15.6031 14.7063 15.3094C15.1375 15.1281 15.5438 14.8969 15.9156 14.6187C15.9219 14.6156 15.9281 14.6156 15.9344 14.6187C16.3074 14.8981 16.7136 15.13 17.1438 15.3094C17.8406 15.6031 18.5813 15.75 19.3438 15.75C20.1063 15.75 20.8438 15.6031 21.5438 15.3094C21.6375 15.2688 21.7313 15.2281 21.825 15.1844V22.7531H16.5ZM21.8125 5H3.18752V2.25H21.8125V5Z" fill="#517FFF"/>
                </svg>
              h4 Продвижение интернет-магазина
            .swiper-slide.solution-block.color2
              .solution-block__img
                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.7292 22.4432H6.4375C4.22836 22.4432 2.4375 20.6523 2.4375 18.4432V0.284091C2.4375 0.127841 2.31563 0 2.16667 0H0.270833C0.121875 0 0 0.127841 0 0.284091V24.7159C0 24.8722 0.121875 25 0.270833 25H25.7292C25.8781 25 26 24.8722 26 24.7159V22.7273C26 22.571 25.8781 22.4432 25.7292 22.4432ZM4.875 20.1705H23.0208C23.1698 20.1705 23.2917 20.0426 23.2917 19.8864V4.40341C23.2917 4.14773 22.9971 4.02344 22.8279 4.20099L18.5873 8.64914C17.0173 10.296 14.3917 10.3033 12.8125 8.66533L11.463 7.26562C11.4121 7.21275 11.3434 7.1831 11.2717 7.1831C11.2001 7.1831 11.1314 7.21275 11.0805 7.26562L4.68203 13.9986C4.65718 14.0247 4.6375 14.0557 4.62414 14.0898C4.61078 14.124 4.60399 14.1605 4.60417 14.1974V19.8864C4.60417 20.0426 4.72604 20.1705 4.875 20.1705Z" fill="#6647F4"/>
                </svg>
              h4 Продвижение по трафику
            .swiper-slide.solution-block.color3
              .solution-block__img
                <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.1 3.85185H18.2V2.5679C18.2 1.15556 17.03 0 15.6 0H10.4C8.97 0 7.8 1.15556 7.8 2.5679V3.85185H3.9C1.69 3.85185 0 5.52099 0 7.7037V19.2593C0 21.442 1.69 23.1111 3.9 23.1111H22.1C24.31 23.1111 26 21.442 26 19.2593V7.7037C26 5.52099 24.31 3.85185 22.1 3.85185ZM10.4 2.5679H15.6V3.85185H10.4V2.5679ZM23.4 19.2593C23.4 20.0296 22.88 20.5432 22.1 20.5432H3.9C3.12 20.5432 2.6 20.0296 2.6 19.2593V12.0691L8.71 14.1235H16.9C17.03 14.1235 17.16 14.1235 17.29 13.9951L23.4 11.9407V19.2593Z" fill="#7424EC"/>
                </svg>
              h4 Продвижение корпоративных сайтов
            .swiper-slide.solution-block.color2
              .solution-block__img
                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.7292 22.4432H6.4375C4.22836 22.4432 2.4375 20.6523 2.4375 18.4432V0.284091C2.4375 0.127841 2.31563 0 2.16667 0H0.270833C0.121875 0 0 0.127841 0 0.284091V24.7159C0 24.8722 0.121875 25 0.270833 25H25.7292C25.8781 25 26 24.8722 26 24.7159V22.7273C26 22.571 25.8781 22.4432 25.7292 22.4432ZM4.875 20.1705H23.0208C23.1698 20.1705 23.2917 20.0426 23.2917 19.8864V4.40341C23.2917 4.14773 22.9971 4.02344 22.8279 4.20099L18.5873 8.64914C17.0173 10.296 14.3917 10.3033 12.8125 8.66533L11.463 7.26562C11.4121 7.21275 11.3434 7.1831 11.2717 7.1831C11.2001 7.1831 11.1314 7.21275 11.0805 7.26562L4.68203 13.9986C4.65718 14.0247 4.6375 14.0557 4.62414 14.0898C4.61078 14.124 4.60399 14.1605 4.60417 14.1974V19.8864C4.60417 20.0426 4.72604 20.1705 4.875 20.1705Z" fill="#6647F4"/>
                </svg>
              h4 Продвижение по трафику
            .swiper-slide.solution-block.color3
              .solution-block__img
                <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.1 3.85185H18.2V2.5679C18.2 1.15556 17.03 0 15.6 0H10.4C8.97 0 7.8 1.15556 7.8 2.5679V3.85185H3.9C1.69 3.85185 0 5.52099 0 7.7037V19.2593C0 21.442 1.69 23.1111 3.9 23.1111H22.1C24.31 23.1111 26 21.442 26 19.2593V7.7037C26 5.52099 24.31 3.85185 22.1 3.85185ZM10.4 2.5679H15.6V3.85185H10.4V2.5679ZM23.4 19.2593C23.4 20.0296 22.88 20.5432 22.1 20.5432H3.9C3.12 20.5432 2.6 20.0296 2.6 19.2593V12.0691L8.71 14.1235H16.9C17.03 14.1235 17.16 14.1235 17.29 13.9951L23.4 11.9407V19.2593Z" fill="#7424EC"/>
                </svg>
              h4 Продвижение корпоративных сайтов
