section.case-review
  .container
    .case-review__wp
      .case-review__element
        img(src="img/selformat-section/element.png", alt="")
      .case-review__left
        .case-review__el1
        .case-review__el2
        h3 Отзыв </br>Work.ua
        a(href="https://www.youtube.com/embed/KXbTlG0xAsc" data-modal="video-modal").case-review__video.videoOpen
          img(src="img/video-prev.jpg")
          span
            <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 7.69104L0.75 0.762836L0.75 14.6192L12 7.69104Z" fill="#6647F4"/>
            </svg>
      .case-review__right
        h5 Мы начали с 2 000 посетителей в месяц. За 3 года вместе с 4web мы достигли 70 000 посетителей в месяц
        .case-review__right-bottom
          p Александр Холодов
          p CEO <span>Yalantis</span>
        a(href="#").btn Посмотреть отзыв

