//- Всегда передаем в infolist 3 параметра, если массив answerlist не требуется выводить просто удали его из объекта.
-
  questions = [
    {
      question: 'Я никогда не занимался маркетингом. У меня получится?',
      answer: 'Конечно получится',
      answerlist: []
    },
    {
      question: 'Какой график обучения на платформе? Получится ли совмещать его с работой?',
      answer: 'Конечно получится',
      answerlist: [
        "Мы все объясним",
        "Будешь лучше всех",
        "Пока что здесь пусто"
        ]
    },
    {
      question: 'Я никогда не занимался маркетингом. У меня получится?',
      answer: 'Конечно получится',
      answerlist: [
        "Мы все объясним",
        "Будешь лучше всех",
        "Пока что здесь пусто"
        ],
      style: "infolist_hidden",
    },
    {
      question: 'Какой график обучения на платформе? Получится ли совмещать его с работой?',
      answer: 'Конечно получится',
      answerlist: [
        "Мы все объясним",
        "Будешь лучше всех",
        "Пока что здесь пусто"
        ],
      style: "infolist_hidden",
    },
  ]

section.questions
  .container
    .questions-wp
      .questions-wp__title Часто задаваемые вопросы
      .questions-wp__list
        each el in questions 
          +infolist(el.question, el.answer, el.answerlist)