section.demand-section
  .container
    .demand-section__back
    .demand-section__wp
      .demand-section__left
        h3 Востребованность на&nbsp;рынке труда
        .demand-section__graph
          img(src="img/demand-section/graph.png", alt="")
      .demand-section__right
        .demand-section__info
          span
            <svg width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.5625 15.8125V2.875C21.5625 1.28944 20.2731 0 18.6875 0H4.3125C2.72694 0 1.4375 1.28944 1.4375 2.875V15.8125C1.05625 15.8125 0.690618 15.964 0.421034 16.2335C0.151451 16.5031 0 16.8688 0 17.25V28.75H2.875V21.5625H20.125V28.75H23V17.25C23 16.8688 22.8486 16.5031 22.579 16.2335C22.3094 15.964 21.9437 15.8125 21.5625 15.8125ZM18.6875 2.875V15.8125H15.8125V2.875H18.6875ZM12.9375 2.875V15.8125H10.0625V2.875H12.9375ZM4.3125 2.875H7.1875V15.8125H4.3125V2.875Z" fill="#FEC001"/>
            </svg>
          div
            p Открытых вакансий интернет-маркетолога
            h2.countRise(data-num="12489", data-delay="0" data-speed="2000" data-increment="20") 12 489
        .demand-section__info
          span
            <svg width="29" height="21" viewBox="0 0 29 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22 19.5C22 18.1739 22.5268 16.9021 23.4645 15.9645C24.4021 15.0268 25.6739 14.5 27 14.5M2 4.5C2 3.83696 2.26339 3.20107 2.73223 2.73223C3.20107 2.26339 3.83696 2 4.5 2H24.5C25.163 2 25.7989 2.26339 26.2678 2.73223C26.7366 3.20107 27 3.83696 27 4.5V17C27 17.663 26.7366 18.2989 26.2678 18.7678C25.7989 19.2366 25.163 19.5 24.5 19.5H4.5C3.83696 19.5 3.20107 19.2366 2.73223 18.7678C2.26339 18.2989 2 17.663 2 17V4.5ZM18.25 10.75C18.25 12.8211 16.5711 14.5 14.5 14.5C12.4289 14.5 10.75 12.8211 10.75 10.75C10.75 8.67893 12.4289 7 14.5 7C16.5711 7 18.25 8.67893 18.25 10.75ZM2 7C3.32608 7 4.59785 6.47322 5.53553 5.53553C6.47322 4.59785 7 3.32608 7 2L2 7Z" stroke="#FEC001" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          div
            p Средняя зарплата специалиста с&nbsp;опытом от 1 года
            h2 <span class="countRise" data-num="120000", data-delay="0" data-speed="2000" data-increment="200">120 000</span>&nbsp;тг

