section.service-rate
  .service-rate__wrap
    .container
      .service-rate__wp
        .service-rate__head
          h2 Тарифы на продвижение сайтов
          p Объем задач и дополнительных опций в рамках продвижения сайта определяется тарифами
          button.service-rate__swiper-next
            svg(width="16" height="16")
              use(xlink:href="img/sprite.svg#arrow-right")
        .service-rate__swiper
          .swiper-wrapper
            .swiper-slide.rate-block
              .rate-block__wp
                .rate-block__top
                  h3 Фиксированный
                  p Для небольших компаний из регионов
                .rate-block__mid
                  h3 от 40 500 тг
                  p Персональный менеджер </br>Ежемесячное планирование работ </br>Внутренняя и внешняя оптимизация </br>Ежемесячный отчет о результатах </br>Фиксированная стоимость
                button(type="button" data-modal="order-modal").btn Заказать
            .swiper-slide.rate-block.rate-block_top
              .rate-block__wp
                .rate-block__top
                  h3 По позициям
                  p Для корпоративных сайтов
                .rate-block__mid
                  h3 от 50 000 тг
                  p Ежемесячное планирование работ </br>Внутренняя и внешняя оптимизация </br>Ежедневный мониторинг позиций </br>Работа с репутацией </br>Ежемесячный отчет о результатах </br>Финансовые гарантии
                button(type="button" data-modal="order-modal").btn.btn--secondary Заказать
            .swiper-slide.rate-block
              .rate-block__wp
                .rate-block__top
                  h3 По трафику
                  p Для интернет-магазинов и крупных порталов
                .rate-block__mid
                  h3 от 70 000 тг
                  p Ежемесячное планирование работ </br>Внутренняя и внешняя оптимизация </br>Неограниченный список запросов </br>Работа с репутацией </br>Ежемесячный отчет о результатах и выполненных работах </br>Финансовые гарантии
                button(type="button" data-modal="order-modal").btn Заказать
